/* Radius*/
.radius1{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    border-radius: 10px 20px 40px;
}
/*Hover*/
.div-hover1:hover{
    color: red;
    font-size: 40px;
}
/*Active*/
.div-active1:active{
    color: blue;
    background-color: red;
    font-style: italic;
}
/*Focus*/
input:focus{
    background-color: blueviolet;
    border: 5px solid yellow ;
}

/*Link notvisited*/
a{text-decoration: none;}
a:link{
    color: red;
}
/*Visited*/
a:visited{
    color: green;
}

/*Pseudo-Element*/
.pseudoelement-para::first-line{
    color: red;
    font-size: 20px;
    font-style: italic;
}
.pseudoelement-para::first-letter{
    color: blue;
    font-size: 30px;
}
.pseudoelement-h3::before{
    content: "Before ";
    color: blueviolet;
}
.pseudoelement-h3::after{
    content: " hover After"; /*can add icon and pics*/
    color: blueviolet;
}
.pseudoelement-para::selection{
    color: yellow;
    background-color: red;
}

/*GRADIENT*/
.gradient-parent{
    display: flex;
    gap: 10px;
}
.gradient-child1,
.gradient-child2,
.gradient-child3,
.gradient-child4,
.gradient-child5 {
    height: 150px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.gradient-child1{
    background-image: linear-gradient( yellow, red, blue); /*default top to bottom*/
}
.gradient-child2{
    background-image: linear-gradient(to right , yellow, red, blue);
}
.gradient-child3{
    background-image: linear-gradient(to top right , yellow, red, blue); /*diagonal*/
}
.gradient-child4{
    background-image: radial-gradient( yellow, red, blue); /*Radial*/
}
.gradient-child5{       /*sharp edge*/
    color: black;
    text-shadow: 2px 2px 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        to right,
        blue 0px 30%,
        white 30% 63%,
        red 63% 100%
    );
}

/*TRANSFORM*/